<!-- Contact -->
<section>
    <div class="inner">
        <div class="row">
            <div class="col-4">
                <span class="icon solid alt fa-envelope"></span>
                <h3>Email</h3>
                <a href="#">WebProject@rouine.com</a>
            </div>
            <br>
            <div class="col-4">
                <span class="icon solid alt fa-phone"></span>
                <h3>Phone</h3>
                <span>(010) 1234-5678 x18101258</span>
            </div>
            <div class="col-4">
                <span class="icon solid alt fa-home"></span>
                <h3>Address</h3>
                <span>서울과학기술대학교<br />
                컴퓨터공학과, 18101258<br />
                이현주</span>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <ul class="icons">
            <li><a href="https://twitter.com/?lang=ko" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://www.facebook.com/" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="https://www.instagram.com/?hl=ko" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="https://github.com/" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
            <li><a href="https://kr.linkedin.com/" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; ROUINE</li><li>GitHub: <a href="https://github.com/Hanalin0422/faceAI_webpage.git">ROUINE</a></li>
        </ul>
    </div>
</footer>