<!-- Main -->
<div id="main" class="alt">

    <!-- One -->
        <section id="one">
            <div class="inner">
                <header class="major">
                    <h1>게시판</h1>
                </header>
                <div class="col-12">
                    <textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
                </div>
            </div>
        </section>

</div>
