
<head>
	<style>
		#imgSize{
			width: 30%;
			height: 90%;
			display: block;
			margin: 0 auto;
			margin-top: 3%;
		}
	</style>
</head>

<section id="banner" class="style2">
	<div class="inner">
		<span class="image">
			<img src="./../public/images/pic07.jpg" alt="" />
		</span>
		<header class="major">
			<h1>얼굴형 정보 확인하기</h1>
		</header>
		<div class="content">
			<p>측정한 얼굴형에대한 정보들을 확인할 수 있습니다.<br />
			자신의 얼굴형에 맞는 스타일을 찾아보세요!</p>
		</div>
	</div>
</section>

<!-- Main -->
<div id="main">

	<!-- One -->
		<section id="one">
			<div class="inner">
				<header class="major">
					<h2>얼굴형의 종류</h2>
				</header>
				<p>당신의 스타일리스트 <루인>에서는 사람의 얼굴형을 총 11가지로 분류하였습니다.</br>
				계란턱형, 계란형, 긴얼굴형, 네모형(사각형), 둥근형, 땅콩형, 마름모형, 역삼각형, 옆사각형, 육각형, 하트형에 따라 어울리는 스타일들은 앞으로도 계속 추가될 예정입니다.</p>
			</div>
		</section>

	<!-- Two -->
		<section id="two" class="spotlights">
			<section>
				<div class="image">
					<img src="../../public/images/계란턱형.png" id="imgSize" data-position="center center" />
				</div>
				<div class="content">
					<div class="inner">
						<header class="major">
							<h3>계란턱형</h3>
						</header>
						<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum sem. In efficitur ligula tate urna. Maecenas massa sed magna lacinia magna pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis tempus.</p>
					</div>
				</div>
			</section>
			<section>
				<div class="image">
					<img src="../../public/images/계란형.png" id="imgSize" data-position="center center" />
				</div>
				<div class="content">
					<div class="inner">
						<header class="major">
							<h3>계란형</h3>
						</header>
						<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum sem. In efficitur ligula tate urna. Maecenas massa sed magna lacinia magna pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis tempus.</p>
					</div>
				</div>
			</section>
			<section>
				<a href="#" class="image">
					<img src="../../public/images/긴얼굴형.png" id="imgSize" data-position="center center" />
				</a>
				<div class="content">
					<div class="inner">
						<header class="major">
							<h3>긴얼굴형</h3>
						</header>
						<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum sem. In efficitur ligula tate urna. Maecenas massa sed magna lacinia magna pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis tempus.</p>
					</div>
				</div>
			</section>
			<section>
				<div class="image">
					<img src="../../public/images/네모형.png" id="imgSize" data-position="center center" />
				</div>
				<div class="content">
					<div class="inner">
						<header class="major">
							<h3>네모형(사각형)</h3>
						</header>
						<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum sem. In efficitur ligula tate urna. Maecenas massa sed magna lacinia magna pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis tempus.</p>
					</div>
				</div>
			</section>
			<section>
				<a href="#" class="image">
					<img src="../../public/images/둥근형.png" id="imgSize" data-position="center center" />
				</a>
				<div class="content">
					<div class="inner">
						<header class="major">
							<h3>둥근형</h3>
						</header>
						<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum sem. In efficitur ligula tate urna. Maecenas massa sed magna lacinia magna pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis tempus.</p>
					</div>
				</div>
			</section>
			<section>
				<div class="image">
					<img src="../../public/images/땅콩형.png" id="imgSize" data-position="center center" />
				</div>
				<div class="content">
					<div class="inner">
						<header class="major">
							<h3>땅콩형</h3>
						</header>
						<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum sem. In efficitur ligula tate urna. Maecenas massa sed magna lacinia magna pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis tempus.</p>
					</div>
				</div>
			</section>
			<section>
				<a href="#" class="image">
					<img src="../../public/images/마름모형.png" id="imgSize" data-position="center center" />
				</a>
				<div class="content">
					<div class="inner">
						<header class="major">
							<h3>마름모형</h3>
						</header>
						<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum sem. In efficitur ligula tate urna. Maecenas massa sed magna lacinia magna pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis tempus.</p>
					</div>
				</div>
			</section>
			<section>
				<div class="image">
					<img src="../../public/images/역삼각형.png" id="imgSize" data-position="center center" />
				</div>
				<div class="content">
					<div class="inner">
						<header class="major">
							<h3>역삼각형</h3>
						</header>
						<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum sem. In efficitur ligula tate urna. Maecenas massa sed magna lacinia magna pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis tempus.</p>
					</div>
				</div>
			</section>
			<section>
				<a href="#" class="image">
					<img src="../../public/images/옆사각형.png" id="imgSize" data-position="center center" />
				</a>
				<div class="content">
					<div class="inner">
						<header class="major">
							<h3>옆사각형</h3>
						</header>
						<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum sem. In efficitur ligula tate urna. Maecenas massa sed magna lacinia magna pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis tempus.</p>
					</div>
				</div>
			</section>
			<section>
				<div class="image">
					<img src="../../public/images/육각형.png" id="imgSize" data-position="center center" />
				</div>
				<div class="content">
					<div class="inner">
						<header class="major">
							<h3>육각형</h3>
						</header>
						<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum sem. In efficitur ligula tate urna. Maecenas massa sed magna lacinia magna pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis tempus.</p>
					</div>
				</div>
			</section>
			<section>
				<a href="#" class="image">
					<img src="../../public/images/하트형.png" id="imgSize" data-position="center center" />
				</a>
				<div class="content">
					<div class="inner">
						<header class="major">
							<h3>하트형</h3>
						</header>
						<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum sem. In efficitur ligula tate urna. Maecenas massa sed magna lacinia magna pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis tempus.</p>
					</div>
				</div>
			</section>
		</section>

		<!-- Three -->
		<section id="three">
			<div class="inner">
				<header class="major">
					<h2>더 알고싶어요!</h2>
				</header>
				<p>더 추가해주었으면 하는 정보들이나 팁들을 게시판을 통해 작성해주세요!</br>
				더 나은 서비스를 위해 지속적으로 업데이트하겠습니다 :)</p>
				<ul class="actions">
					<li><a href="/board" class="button next">Get Comment Board</a></li>
				</ul>
			</div>
		</section>

</div>

