
<head>
	<style>
		#imgSize{
			width: 30%;
			height: 90%;
			display: block;
			margin: 0 auto;
			margin-top: 3%;
		}
	</style>
</head>

<section id="banner" class="style2">
	<div class="inner">
		<span class="image">
			<img src="./../public/images/pic07.jpg" alt="" />
		</span>
		<header class="major">
			<h1>얼굴형 정보 확인하기</h1>
		</header>
		<div class="content">
			<p>측정한 얼굴형에대한 정보들을 확인할 수 있습니다.<br />
			자신의 얼굴형에 맞는 스타일을 찾아보세요!</p>
		</div>
	</div>
</section>

<!-- Main -->
<div id="main">

	<!-- One -->
		<section id="one">
			<div class="inner">
				<header class="major">
					<h2>얼굴형의 종류</h2>
				</header>
				<p>당신의 스타일리스트 <루인>에서는 사람의 얼굴형을 총 11가지로 분류하였습니다.</br>
				계란턱형, 계란형, 긴얼굴형, 네모형(사각형), 둥근형, 땅콩형, 마름모형, 역삼각형, 옆사각형, 육각형, 하트형에 따라 어울리는 스타일들은 앞으로도 계속 추가될 예정입니다.</p>
			</div>
		</section>

	<!-- Two -->
		<section id="two" class="spotlights">
			<section>
				<div class="image">
					<img src="../../public/images/계란턱형.png" id="imgSize" data-position="center center" />
				</div>
				<div class="content">
					<div class="inner">
						<header class="major">
							<h3>계란턱형</h3>
						</header>
						<p>정면에서 보면 계란형인데 측면에서 보면 사각턱이 보이는 유형의 얼굴형이다.<br><br>
							[스타일 추천]<br> 흔히 귀족턱이라고도 부르기 때문에 컴플렉스만 아니라면 자연스럽게 드러낼 수 있는 웨이브 들어간 긴머리를 하는 것이 좋다. 한 쪽은 귀 뒤로 넘기고 다른 한쪽은 자연스럽게 앞으로 내리는 것이 좋으며 머리를 묶는다면 단정하게 묶어도 예쁜 분위기를 연출할 수 있다.<br><br> 
							대표 연예인 : 이연희, 손예진, 김희선, 송혜교</p>
						</div>
				</div>
			</section>
			<section>
				<div class="image">
					<img src="../../public/images/계란형.png" id="imgSize" data-position="center center" />
				</div>
				<div class="content">
					<div class="inner">
						<header class="major">
							<h3>계란형</h3>
						</header>
						<p>광대와 턱 돌출이 없으며 광대와 턱 골격이 이상적으로 잡혀있는 얼굴형이다. 눈에 띄게 돌출된 부분이 없다는 것이 특징이다.<br><br>
							[스타일 추천]<br> 주로 어떤 헤어스타일도 다 소화하는 편이다. 이 얼굴형일 경우에는 얼굴형보다는 이목구비의 조화를 보고 헤어스타일을 하는 것이 좋다.<br><br>
						대표 연예인 : 김태희, 소녀시대 윤아, 에이프릴 이나은, 송지효</p>
					</div>
				</div>
			</section>
			<section>
				<a href="#" class="image">
					<img src="../../public/images/긴얼굴형.png" id="imgSize" data-position="center center" />
				</a>
				<div class="content">
					<div class="inner">
						<header class="major">
							<h3>긴얼굴형</h3>
						</header>
						<p>계란형과 같이 특별히 돌출된 부분은 없으나 얼굴의 중앙부가 길어 얼굴이 전반적으로 길어진 얼굴형이다.<br><br>
							[스타일 추천]<br> 얼굴이 전반적으로 길어보이는 얼굴이기 때문에 5:5 가르마는 피하는 것이 좋으며 가르마를 약간 사선으로 내는 것이 제일 좋다. 얼굴이 너무 긴 것이 콤플렉스라면 앞머리를 내려 전반적으로 얼굴의 길이감을 줄여주는 것도 좋은 방법이다.<br><br>
							대표 연예인 : 티파니, 려원, 유인나, 블랙핑크 로제, 여자친구 신비</p>
						</div>
				</div>
			</section>
			<section>
				<div class="image">
					<img src="../../public/images/네모형.png" id="imgSize" data-position="center center" />
				</div>
				<div class="content">
					<div class="inner">
						<header class="major">
							<h3>네모형(사각형)</h3>
						</header>
						<p>광대가 부각되지 않으며 턱선이 각이 있고 이마쪽 넓이와 턱쪽 넓이가 비슷한 경우의 얼굴형이다.<br><br>
							[스타일 추천]<br> 애교 머리와 옆 머리 길이를 턱선까지 주어 부드럽게 얼굴 외각을 덮어주는 헤어 스타일을 하면 얼굴형의 각진 부분을 보안할 수 있다. 앞머리를 내리는 것보다는 옆머리를 이용하여 웨이브를 주어 얼굴형을 보안해주는 헤어스타일이 가장 좋다.<br><br>
							대표 연예인 : 김태리, 한효주, 정채연</p>
						</div>
				</div>
			</section>
			<section>
				<a href="#" class="image">
					<img src="../../public/images/둥근형.png" id="imgSize" data-position="center center" />
				</a>
				<div class="content">
					<div class="inner">
						<header class="major">
							<h3>둥근형</h3>
						</header>
						<p>얼굴 전체에 살이 많아 테두리에 골격, 뼈가 잘 보이지 않는 얼굴형이다.<br><br>
							[스타일 추천]<br> 귀여운 이미지를 가지고 있는 대신 턱 라인이 뭉툭하기 때문에 샤프하고 날렵한 이미지를 주기는 어렵다. 그래서 턱을 갸름하게 보이게 해주는 스타일이 잘 어울린다. 단점 커버를 위해 얼굴이 갸름해 보이도록 연출하는 데는 옆머리를 만들어 위에서 아래로 떨어뜨려 얼굴에 긴 흐름을 만들어주는 방법이 있다.<br><br>
							대표 연예인 : 걸스데이 민아, 고현정, 김다미, 강민경, 유아, 블랙핑크 제니, 공효진, 이정은, 홍현희, 유이</p>
						</div>
				</div>
			</section>
			<section>
				<div class="image">
					<img src="../../public/images/땅콩형.png" id="imgSize" data-position="center center" />
				</div>
				<div class="content">
					<div class="inner">
						<header class="major">
							<h3>땅콩형</h3>
						</header>
						<p>광대 골격과 턱 골격이 모두 있고 하트형과는 다르게 광대 골격과 턱 골격의 너비가 같은 얼굴형이다. 얼굴 살이 없으면 광대 아래가 살짝 패이게 된다는 특징이 있다.<br><br>
							[스타일 추천]<br> 얼굴에 각이 많이 보이는 유형이기 때문에 긴생머리는 어울리지 않는다. 대신 레이어드 컷으로 부드럽게 웨이브를 넣어 광대 위치에 있는 머리 부분에 볼륨감이 들어가면 광대의 돌출을 완화하는 효과를 볼수 있다. 또한 앞머리를 내리는 것보다는 잔머리를 활용하여 시선에 분산을 주는 것이 가장 좋다.<br><br>
							대표 연예인 : 정은채, 김서형, 이하이</p>
						</div>
				</div>
			</section>
			<section>
				<a href="#" class="image">
					<img src="../../public/images/마름모형.png" id="imgSize" data-position="center center" />
				</a>
				<div class="content">
					<div class="inner">
						<header class="major">
							<h3>마름모형</h3>
						</header>
						<p>옆턱 골격은 없으나 광대만 부각이 되는 얼굴형이다.<br><br>
							[스타일 추천]<br> 앞머리를 내려서 이마를 가리고 머리 위로 묶어올린 헤어번 스타일이 얼굴을 풍성하게 만들면서 이마와 턱 부분이 넓어보이고 앞머리를 짧게 하거나 사선으로 하면 각진 얼굴형이 부드러워보이는 효과를 줄 수 있다.<br><br>
							대표 연예인 : 브라운아이드걸스 가인, 황정음, 브라운아이드걸스 나르샤</p>
						</div>
				</div>
			</section>
			<section>
				<div class="image">
					<img src="../../public/images/역삼각형.png" id="imgSize" data-position="center center" />
				</div>
				<div class="content">
					<div class="inner">
						<header class="major">
							<h3>역삼각형</h3>
						</header>
						<p>광대가 부각되고 턱이 매우 갸름한 얼굴형이다.<br><br>
							[스타일 추천]<br> 넓고 시원한 이마에 비채 얼굴 아랫부분이 좁기 때문에 전체적으로 헤어스타일을 동그랗게 연출해주면 얼굴의 각을 커버할 수 있다. 앞머리를 약간 짧게 연출해 이마를 좁게 만들거나 모발의 사이드는 차분하게하고 아랫쪽을 풍성하게 연출하면 뾰족한 턱선을 보완할 수 있다. 웨이브를 넣으면 부드러운 인상도 줄 수 있다.<br><br>
							대표 연예인 : 청하, 손담비, 제시, 현아, NS윤지, 오윤아, 김나영, 한소희, 임수향, 마마무 화사</p>
						</div>
				</div>
			</section>
			<section>
				<a href="#" class="image">
					<img src="../../public/images/옆사각형.png" id="imgSize" data-position="center center" />
				</a>
				<div class="content">
					<div class="inner">
						<header class="major">
							<h3>옆사각형</h3>
						</header>
						<p>정면에서 봤을 때는 역삼각형과 비슷하지만 분명하게 사각턱을 가진 얼굴형이다.<br><br>
							[스타일 추천]<br> 일반적으로 긴 생머리보다는 자연스럽게 턱선 아래에 웨이브가 있는 웨이브펌이나 적당한 길이의 단발머리를 하고 광대와 볼쪽에 볼륨감을 주면 시선을 분산시켜 각이 진 부분을 보안할 수 있다. <br><br>
							대표 연예인 : 김민희, 크리스탈, 위키미키 김도연</p>
						</div>
				</div>
			</section>
			<section>
				<div class="image">
					<img src="../../public/images/육각형.png" id="imgSize" data-position="center center" />
				</div>
				<div class="content">
					<div class="inner">
						<header class="major">
							<h3>육각형</h3>
						</header>
						<p>옆으로 튀어나온 광대 골격이 없고 턱 골격만 돌출되어있는 얼굴형이다.<br><br>
							[스타일 추천]<br> 좁은 이마와 넓은 광대뼈, 가는 턱선을 보완하기 위해 앞머리는 볼륨을 만들어서 뒤로 넘겨 좁은 이마를 넓게 보이게 하거나 6:4 정도 가르마를 타고 앞머리가 나있는 부분에서 약간 볼륨을 주면서 양쪽을 내려주는 커브 스타일이 좋다. 사이드에서 풍성한 스타일은 어울리지 않으며 광대뼈 라인을 약간 가리면서 떨어지는 스트레이트 헤어스타일은 얼굴 넓이를 축소시키는 효과가 있다. 짧은 헤어스타일이나 귀 뒤로 넘기거나 들어올리는 헤어스타일은 피하는 것이 좋다.<br><br>
							대표 연예인 : 문채원, 트와이스 모모, 배두나, 악동뮤지션 수현, 김희애, 최희서, 이민정</p>
						</div>
				</div>
			</section>
			<section>
				<a href="#" class="image">
					<img src="../../public/images/하트형.png" id="imgSize" data-position="center center" />
				</a>
				<div class="content">
					<div class="inner">
						<header class="major">
							<h3>하트형</h3>
						</header>
						<p>광대 골격과 턱 골격이 모두 있는데 광대 골격이 턱 골격보다 넓고 강한 얼굴형이다.<br><br>
							[스타일 추천]<br> 머리 위쪽이 넓어보이거나 턱선으로 올수록 좁아지는 얼굴 형태이기 때문에 귀 높이에서부터 웨이브가 들어간 헤어 스타일이 좋다. C컬펌 또는 무거운 느낌의 굵은 S컬펌이 잘 어울리고, 머리를 한 쪽으로 넘겨 웨이브를 준 스타일은 좁은 턱에비해 상대적으로 강해보이는 광대뼈를 커버해주면서 여성스러운 매력을 높여줄 수 있다.<br><br>
							대표 연예인 : 구구단 미나, 수지, 신민아, 트와이스 사나, 이솜, 안지영, 쯔위, 이하늬, 이성경, 김사랑</p>
						</div>
				</div>
			</section>
		</section>

		<!-- Three -->
		<section id="three">
			<div class="inner">
				<header class="major">
					<h2>더 알고싶어요!</h2>
				</header>
				<p>더 추가해주었으면 하는 정보들이나 팁들을 게시판을 통해 작성해주세요!</br>
				더 나은 서비스를 위해 지속적으로 업데이트하겠습니다 :)</p>
				<ul class="actions">
					<li><a href="../boards/board" class="button next">Get Comment Board</a></li>
				</ul>
			</div>
		</section>

</div>

