<!-- Main -->
<div id="main" class="alt">

    <!-- One -->
        <section id="one">
            <div class="inner">
                <header class="major">
                    <h1>게시판</h1>
                </header>
            </div>
        </section>
        <div class="table-wrapper" style="width:80%; margin: 0 auto">
            <table style="text-align: center;">
                <thead>
                    <tr>
                        <th style="text-align: center;">작성자</th>
                        <th style="text-align: center;">제목</th>
                        <th style="text-align: center;">작성일자</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>LeeHyunJU</td>
                            <td>안녕하세요</td>
                            <td>2021-12-19</td>
                        </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>

</div>
